body,
html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    margin: 0 auto;
    width: 400px;
}

.header {
    padding: 10px;
    margin: 5px;
}

table,
td,
th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    margin-bottom: 15px;
}

#content {
    width: 70%;
}

.tasks .links {
    padding: 10px;
}

.tasks .links a {
    text-decoration: none;
    padding: 3px;
}